body {
  margin: 0;
}

a {
  text-decoration: none;
}

a.logo {
  color: #3f51b5;
}

.no-box-shadow {
  box-shadow: none;
}

.header {
  background-color: #f1f1f1;
}

.text-black {
  color: #000000;
}

.home-styles {
  text-align: center;
  padding-top: 20px;
  width: 100%;
}